 
    @max_width: none;   
    @gutter: 20px;      

    @wp_1: 0px;
    @wp_2: 0px;
    @wp_3: 0px;

    @import "defaults.less";
@import "styles/bg-hdd -- background.less";
@import "styles/mg -- margins.less";
@import "styles/imsize -- graphic_image_sizing.less";
@import "styles/sizing -- graphic_sizing.less";
@import "styles/def -- default.less";
@import "styles/bghd -- background_page.less";
@import "styles/head -- custom.less";
@import "styles/mg2 -- margins.less";