/*
 * Please see the included README.md file for license terms and conditions.
 */


/* This file is completely optional and not required. */
/* Note the reference that includes it in the index.html file. */


/* Disable certain interactions on touch devices */
/* SOURCE: https://github.com/ftlabs/fastclick/blob/master/examples/input.html */
/* LICENSE: https://github.com/ftlabs/fastclick/blob/master/LICENSE */
body {
    -webkit-touch-callout: none ;
    -webkit-text-size-adjust: none ; -ms-text-size-adjust: none ;
    -webkit-user-select: none ; -moz-user-select: none ; -ms-user-select: none ; user-select: none ;
    -webkit-highlight: none ;
    -webkit-tap-highlight-color: rgba(0,0,0,0) ;
    -webkit-tap-highlight-color: transparent ;      /* For some Androids */
}

/* Recommended for Windows 8 Phone */
/* SOURCE: http://www.excellentwebworld.com/common-problems-solution-for-windows-phone-8-phonegap */
html {
    -ms-touch-action: pan-x ;
}

/* Recommended for Windows 8 Phone */
/* SOURCE: http://www.excellentwebworld.com/common-problems-solution-for-windows-phone-8-phonegap */
body {
    -ms-touch-action: pan-y ;
    -ms-content-zooming: none ;
}

/* allow copy-paste */
input, textarea  {
    -webkit-user-select: text ; -moz-user-select: text ; -ms-user-select: text ; user-select: text ;
}

.nav-tabs{
  background-color:#161616;
}
.tab-content{
    background-color:#303136;
    color:#fff;
    padding:5px
}
.nav-tabs > li > a{
  border: medium none;
}
.nav-tabs > li > a:hover{
  background-color: #303136 !important;
    border: medium none;
    border-radius: 0;
    color:#fff;
}

body {
  margin: 0;
  font-family: 'Roboto';
  font-size: 14px;
  background: #455A64;
}

h3 {
  color: #fff;
  font-size: 24px;
  text-align: center;
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #eee;
  margin-bottom: 30px;
  font-weight: 300;
}

.container {
  max-width: 970px;
}

div[class*='col-'] {
  padding: 0 30px;
}

.wrap {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

a:focus,
a:hover,
a:active {
  outline: 0;
  text-decoration: none;
}

.panel {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #fff;
  background: none;
  box-shadow: none;
}

.panel:last-child {
  border-bottom: none;
}

.panel-group > .panel:first-child .panel-heading {
  border-radius: 4px 4px 0 0;
}

.panel-group .panel {
  border-radius: 0;
}

.panel-group .panel + .panel {
  margin-top: 0;
}

.panel-heading {
  background-color: #009688;
  border-radius: 0;
  border: none;
  color: #fff;
  padding: 0;
}

.panel-title a {
  display: block;
  color: #fff;
  padding: 15px;
  position: relative;
  font-size: 16px;
  font-weight: 400;
}

.panel-body {
  background: #fff;
}

.panel:last-child .panel-body {
  border-radius: 0 0 4px 4px;
}

.panel:last-child .panel-heading {
  border-radius: 0 0 4px 4px;
  transition: border-radius 0.3s linear 0.2s;
}

.panel:last-child .panel-heading.active {
  border-radius: 0;
  transition: border-radius linear 0s;
}
/* #bs-collapse icon scale option */

.panel-heading a:before {
  content: '\e146';
  position: absolute;
  font-family: 'Material Icons';
  right: 5px;
  top: 10px;
  font-size: 24px;
  transition: all 0.5s;
  transform: scale(1);
}

.panel-heading.active a:before {
  content: ' ';
  transition: all 0.5s;
  transform: scale(0);
}

#bs-collapse .panel-heading a:after {
  content: ' ';
  font-size: 24px;
  position: absolute;
  font-family: 'Material Icons';
  right: 5px;
  top: 10px;
  transform: scale(0);
  transition: all 0.5s;
}

#bs-collapse .panel-heading.active a:after {
  content: '\e909';
  transform: scale(1);
  transition: all 0.5s;
}
/* #accordion rotate icon option */

#accordion .panel-heading a:before {
  content: '\e316';
  font-size: 24px;
  position: absolute;
  font-family: 'Material Icons';
  right: 5px;
  top: 10px;
  transform: rotate(180deg);
  transition: all 0.5s;
}

#accordion .panel-heading.active a:before {
  transform: rotate(0deg);
  transition: all 0.5s;
}

.row{
    margin-top:20px;
    padding: 0 10px;
}

.clickable{
    cursor: pointer;   
}

.panel-heading span {
  margin-top: -20px;
  font-size: 15px;
}
.panel-body{
  background-color: #e6e6e6;
  border-radius: 0;
  border: none;
  color: #000000;
  padding: 15px;
}

.panel-title{
  display: block;
  color: #fff;
  padding: 5px;
  position: relative;
  font-size: 16px;
  font-weight: 400;
}

body {
  padding : 10px ;
  
}

#exTab1 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

#exTab2 h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600);
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'codropsicons';
  src: url("../fonts/codropsicons/codropsicons.eot");
  src: url("../fonts/codropsicons/codropsicons.eot?#iefix") format("embedded-opentype"), url("../fonts/codropsicons/codropsicons.woff") format("woff"), url("../fonts/codropsicons/codropsicons.ttf") format("truetype"), url("../fonts/codropsicons/codropsicons.svg#codropsicons") format("svg");
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.cf:before,
.cf:after {
  content: '';
  display: table;
}
.cf:after {
  clear: both;
}
body {
  background: #cfd8dc;
  color: #37474f;
  font-weight: 400;
  font-size: 1em;
  font-family: 'Raleway', Arial, sans-serif;
}
.support {
  font-weight: bold;
  padding: 2em 0 0 0;
  font-size: 1.4em;
  color: #ee2563;
  display: none;
}
a {
  color: #7986cb;
  text-decoration: none;
  outline: none;
}
a:hover,
a:focus {
  color: #3f51b5;
}
.hidden {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  pointer-events: none;
}
.container {
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}
.content {
  padding: 2em 1em 5em;
  z-index: 1;
  max-width: 1000px;
  margin: 0 auto;
}
.content h2 {
  margin: 0 0 2em;
}
.content p {
  margin: 1em 0;
  padding: 0 0 2em;
  font-size: 0.85em;
}
.box {
  padding: 4.5em 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
}

/* Header */
.codrops-header {
  padding: 3em 190px 4em;
  letter-spacing: -1px;
}
.codrops-header h1 {
  font-weight: 200;
  font-size: 4em;
  line-height: 1;
  margin-bottom: 0;
}
.codrops-header h1 span {
  display: block;
  font-size: 40%;
  letter-spacing: 0;
  padding: 0.5em 0 1em 0;
  color: #A8B3B8;
}

/* Top Navigation Style */
.codrops-links {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  font-size: 1.25em;
  text-align: center;
}
.codrops-links::after {
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  background: #BFCACF;
  content: '';
  -webkit-transform: rotate3d(0, 0, 1, 22.5deg);
  transform: rotate3d(0, 0, 1, 22.5deg);
}
.codrops-icon {
  display: inline-block;
  margin: 0.5em;
  padding: 0em 0;
  width: 1.5em;
  text-decoration: none;
}
.codrops-icon:before {
  margin: 0 5px;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-family: 'codropsicons';
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
}
.codrops-icon span {
  display: none;
}
.codrops-icon--drop:before {
  content: "\e001";
}
.codrops-icon--prev:before {
  content: "\e004";
}

/* Related demos */
.content--related {
  text-align: center;
  font-weight: 600;
}
.media-item {
  display: inline-block;
  padding: 1em;
  margin: 1em 0 0 0;
  vertical-align: top;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.media-item__img {
  opacity: 0.8;
  max-width: 100%;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.media-item:hover .media-item__img,
.media-item:focus .media-item__img {
  opacity: 1;
}
.media-item__title {
  font-size: 0.85em;
  margin: 0;
  padding: 0.5em;
}
@media screen and (max-width:50em) {
  .codrops-header {
    padding: 3em 10% 4em;
  }
}
@media screen and (max-width:40em) {
  .codrops-header h1 {
    font-size: 2.8em;
  }
}

/* Box colors */
.bg-1 {
  background: #ECEFF1;
  color: #37474f;
}
.bg-2 {
  background: #7986cb;
  color: #ECEFF1;
}
.bg-3 {
  background: #37474f;
  color: #fff;
}

/* Common button styles */
.button {
  float: left;
  min-width: 150px;
  max-width: 250px;
  display: block;
  margin: 1em;
  padding: 1em 2em;
  border: none;
  background: none;
  color: inherit;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.button:focus {
  outline: none;
}
.button > span {
  vertical-align: middle;
}

/* Text color adjustments (we could stick to the "inherit" but that does not work well in Safari) */
.bg-1 .button {
  color: #37474f;
  border-color: #37474f;
}
.bg-2 .button {
  color: #ECEFF1;
  border-color: #ECEFF1;
}
.bg-3 .button {
  color: #fff;
  border-color: #fff;
}

/* Sizes */
.button--size-s {
  font-size: 14px;
}
.button--size-m {
  font-size: 16px;
}
.button--size-l {
  font-size: 18px;
}

/* Typography and Roundedness */
.button--text-upper {
  letter-spacing: 2px;
  text-transform: uppercase;
}
.button--text-thin {
  font-weight: 300;
}
.button--text-medium {
  font-weight: 500;
}
.button--text-thick {
  font-weight: 600;
}
.button--round-s {
  border-radius: 5px;
}
.button--round-m {
  border-radius: 15px;
}
.button--round-l {
  border-radius: 40px;
}

/* Borders */
.button--border-thin {
  border: 1px solid;
}
.button--border-medium {
  border: 2px solid;
}
.button--border-thick {
  border: 3px solid;
}

/* Individual button styles */

/* Winona */
.button--winona {
  overflow: hidden;
  padding: 0;
  -webkit-transition: border-color 0.3s, background-color 0.3s;
  transition: border-color 0.3s, background-color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--winona::after {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  color: #3f51b5;
  -webkit-transform: translate3d(0, 25%, 0);
  transform: translate3d(0, 25%, 0);
}
.button--winona > span {
  display: block;
}
.button--winona.button--inverted {
  color: #7986cb;
}
.button--winona.button--inverted:after {
  color: #fff;
}
.button--winona::after,
.button--winona > span {
  padding: 1em 2em;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--winona:hover {
  border-color: #3f51b5;
  background-color: rgba(63, 81, 181, 0.1);
}
.button--winona.button--inverted:hover {
  border-color: #21333C;
  background-color: #21333C;
}
.button--winona:hover::after {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.button--winona:hover > span {
  opacity: 0;
  -webkit-transform: translate3d(0, -25%, 0);
  transform: translate3d(0, -25%, 0);
}

/* Ujarak */
.button--ujarak {
  -webkit-transition: border-color 0.4s, color 0.4s;
  transition: border-color 0.4s, color 0.4s;
}
.button--ujarak::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #37474f;
  z-index: -1;
  opacity: 0;
  -webkit-transform: scale3d(0.7, 1, 1);
  transform: scale3d(0.7, 1, 1);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--ujarak.button--round-s::before {
  border-radius: 2px;
}
.button--ujarak.button--inverted::before {
  background: #7986CB;
}
.button--ujarak,
.button--ujarak::before {
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--ujarak:hover {
  color: #fff;
  border-color: #37474f;
}
.button--ujarak.button--inverted:hover {
  color: #37474F;
  border-color: #fff;
}
.button--ujarak:hover::before {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* Wayra */
.button--wayra {
  overflow: hidden;
  width: 245px;
  -webkit-transition: border-color 0.3s, color 0.3s;
  transition: border-color 0.3s, color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--wayra::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 100%;
  background: #37474f;
  z-index: -1;
  -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
  transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
  transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}
.button--wayra:hover {
  color: #fff;
  border-color: #3f51b5;
}
.button--wayra.button--inverted:hover {
  color: #3f51b5;
  border-color: #fff;
}
.button--wayra:hover::before {
  opacity: 1;
  background-color: #3f51b5;
  -webkit-transform: rotate3d(0, 0, 1, 0deg);
  transform: rotate3d(0, 0, 1, 0deg);
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--wayra.button--inverted:hover::before {
  background-color: #fff;
}

/* Tamaya */
.button--tamaya {
  overflow: hidden;
  color: #7986cb;
  min-width: 180px;
}
.button--tamaya.button--inverted {
  color: #37474f;
  border-color: #37474f;
}
.button--tamaya::before,
.button--tamaya::after {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  background: #7986cb;
  color: #fff;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--tamaya.button--inverted::before,
.button--tamaya.button--inverted::after {
  background: #fff;
  color: #37474f;
}
.button--tamaya::before {
  top: 0;
  padding-top: 1em;
}
.button--tamaya::after {
  bottom: 0;
  line-height: 0;
}
.button--tamaya > span {
  display: block;
  -webkit-transform: scale3d(0.2, 0.2, 1);
  transform: scale3d(0.2, 0.2, 1);
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--tamaya:hover::before {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
.button--tamaya:hover::after {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
.button--tamaya:hover > span {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

/* Rayen */
.button--rayen {
  overflow: hidden;
  padding: 0;
  width: 230px;
}
.button--rayen.button--inverted {
  color: #fff;
}
.button--rayen::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #7986cb;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.button--rayen.button--inverted::before {
  background: #fff;
  color: #37474f;
}
.button--rayen > span {
  display: block;
}
.button--rayen::before,
.button--rayen > span {
  padding: 1em 2em;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--rayen:hover::before {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.button--rayen:hover > span {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

/* Pipaluk */
.button--pipaluk {
  width: 240px;
  padding: 1.5em 3em;
  color: #fff;
}
.button--pipaluk.button--inverted {
  color: #7986cb;
}
.button--pipaluk::before,
.button--pipaluk::after {
  content: '';
  border-radius: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
  transition: transform 0.3s, background-color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.25, 0, 0.3, 1);
}
.button--pipaluk::before {
  border: 2px solid #7986cb;
}
.button--pipaluk.button--inverted::before {
  border-color: #fff;
}
.button--pipaluk::after {
  background: #7986cb;
}
.button--pipaluk.button--inverted::after {
  background: #fff;
}
.button--pipaluk:hover::before {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
.button--pipaluk::before,
.button--pipaluk:hover::after {
  -webkit-transform: scale3d(0.7, 0.7, 1);
  transform: scale3d(0.7, 0.7, 1);
}
.button--pipaluk:hover::after {
  background-color: #3f51b5;
}
.button--pipaluk.button--inverted:hover::after {
  background-color: #fff;
}

/* Nuka */
.button--nuka {
  margin: 1em 2em;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--nuka.button--inverted {
  color: #37474f;
}
.button--nuka::before,
.button--nuka::after {
  content: '';
  position: absolute;
  border-radius: inherit;
  background: #7986cb;
  z-index: -1;
}
.button--nuka::before {
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  opacity: 0.2;
  -webkit-transform: scale3d(0.7, 1, 1);
  transform: scale3d(0.7, 1, 1);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}
.button--nuka::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale3d(1.1, 1, 1);
  transform: scale3d(1.1, 1, 1);
  -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
  transition: transform 0.3s, background-color 0.3s;
}
.button--nuka::before,
.button--nuka::after {
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--nuka.button--inverted::before,
.button--nuka.button--inverted::after {
  background: #fff;
}
.button--nuka:hover {
  color: #fff;
}
.button--nuka:hover::before {
  opacity: 1;
}
.button--nuka:hover::after {
  background-color: #37474f;
}
.button--nuka.button--inverted:hover::after {
  background-color: #7986cb;
}
.button--nuka:hover::after,
.button--nuka:hover::before {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

/* Moema */
.button--moema {
  padding: 1.5em 3em;
  border-radius: 50px;
  background: #7986cb;
  color: #fff;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
.button--moema.button--inverted {
  background: #ECEFF1;
  color: #37474f;
}
.button--moema::before {
  content: '';
  position: absolute;
  top: -20px;
  left: -20px;
  bottom: -20px;
  right: -20px;
  background: inherit;
  border-radius: 50px;
  z-index: -1;
  opacity: 0.4;
  -webkit-transform: scale3d(0.8, 0.5, 1);
  transform: scale3d(0.8, 0.5, 1);
}
.button--moema:hover {
  -webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
  transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
  color: #ECEFF1;
  background-color: #3f51b5;
  -webkit-animation: anim-moema-1 0.3s forwards;
  animation: anim-moema-1 0.3s forwards;
}
.button--moema.button--inverted:hover {
  color: #ECEFF1;
  background-color: #7986cb;
}
.button--moema:hover::before {
  -webkit-animation: anim-moema-2 0.3s 0.3s forwards;
  animation: anim-moema-2 0.3s 0.3s forwards;
}
@-webkit-keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
  }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
  }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes anim-moema-2 {
  to {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes anim-moema-2 {
  to {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

/* Isi */
.button--isi {
  padding: 1.2em 2em;
  color: #fff;
  background: #7986cb;
  overflow: hidden;
}
.button--isi::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 100%;
  margin: -15px 0 0 1px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #3f51b5;
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transform: scale3d(1, 2, 1);
  transform: scale3d(1, 2, 1);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.9,1);
  transition-timing-function: cubic-bezier(0.7,0,0.9,1);
}
.button--isi .button__icon {
  vertical-align: middle;
}
.button--isi > span {
  vertical-align: middle;
  padding-left: 0.75em;
}
.button--isi:hover::before {
  -webkit-transform: scale3d(9, 9, 1);
  transform: scale3d(9, 9, 1);
}

/* Aylen */
.button.button--aylen {
  background: #fff;
  color: #37474f;
  overflow: hidden;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.button--aylen.button--inverted {
  background: none;
  color: #fff;
}
.button--aylen::before,
.button--aylen::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 100%;
  left: 0;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--aylen::before {
  background: #7986cb;
}
.button--aylen::after {
  background: #3f51b5;
}
.button--aylen:hover {
  color: #fff;
}
.button--aylen:hover::before,
.button--aylen:hover::after {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
.button--aylen:hover::after {
  -webkit-transition-delay: 0.175s;
  transition-delay: 0.175s;
}

/* Saqui */
.button.button--saqui {
  overflow: hidden;
  color: #fff;
  background: #37474f;
  -webkit-transition: background-color 0.3s ease-in, color 0.3s ease-in;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
}
.button--saqui.button--inverted {
  background: #fff;
  color: #37474f;
}
.button--saqui::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1em 2em;
  color: #37474f;
  -webkit-transform-origin: -25% 50%;
  transform-origin: -25% 50%;
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
}
.button--saqui.button--inverted::after {
  color: #fff;
}
.button--saqui:hover::after,
.button--saqui:hover {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.button--saqui:hover {
  background-color: #7986cb;
  color: #7986cb;
}
.button--saqui.button--inverted:hover {
  background-color: #3f51b5;
  color: #3f51b5;
}
.button--saqui:hover::after {
  -webkit-transform: rotate3d(0, 0, 1, 0deg);
  transform: rotate3d(0, 0, 1, 0deg);
}

/* Wapasha */
.button.button--wapasha {
  background: #37474f;
  color: #fff;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
.button--wapasha.button--inverted {
  background: #fff;
  color: #37474f;
}
.button--wapasha::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #3f51b5;
  z-index: -1;
  border-radius: inherit;
  opacity: 0;
  -webkit-transform: scale3d(0.6, 0.6, 1);
  transform: scale3d(0.6, 0.6, 1);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--wapasha.button--inverted::before {
  border-color: #7986cb;
}
.button--wapasha:hover {
  background-color: #fff;
  color: #3f51b5;
}
.button--wapasha.button--inverted:hover {
  background-color: #37474f;
  color: #7986cb;
}
.button--wapasha:hover::before {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  opacity: 1;
}

/* Nina */
.button--nina {
  padding: 0 2em;
  background: #7986cb;
  color: #fff;
  overflow: hidden;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.button--nina.button--inverted {
  background: #fff;
  color: #7986cb;
}
.button--nina > span {
  display: inline-block;
  padding: 1em 0;
  opacity: 0;
  color: #fff;
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--nina::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1em 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--nina:hover {
  background-color: #3f51b5;
}
.button--nina:hover::before {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
.button--nina:hover > span {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.button--nina:hover > span:nth-child(1) {
  -webkit-transition-delay: 0.045s;
  transition-delay: 0.045s;
}
.button--nina:hover > span:nth-child(2) {
  -webkit-transition-delay: 0.09s;
  transition-delay: 0.09s;
}
.button--nina:hover > span:nth-child(3) {
  -webkit-transition-delay: 0.135s;
  transition-delay: 0.135s;
}
.button--nina:hover > span:nth-child(4) {
  -webkit-transition-delay: 0.18s;
  transition-delay: 0.18s;
}
.button--nina:hover > span:nth-child(5) {
  -webkit-transition-delay: 0.225s;
  transition-delay: 0.225s;
}
.button--nina:hover > span:nth-child(6) {
  -webkit-transition-delay: 0.27s;
  transition-delay: 0.27s;
}
.button--nina:hover > span:nth-child(7) {
  -webkit-transition-delay: 0.315s;
  transition-delay: 0.315s;
}
.button--nina:hover > span:nth-child(8) {
  -webkit-transition-delay: 0.36s;
  transition-delay: 0.36s;
}
.button--nina:hover > span:nth-child(9) {
  -webkit-transition-delay: 0.405s;
  transition-delay: 0.405s;
}
.button--nina:hover > span:nth-child(10) {
  -webkit-transition-delay: 0.45s;
  transition-delay: 0.45s;
}

/* Nanuk */
.button--nanuk {
  padding: 0 2em;
  overflow: hidden;
  background: #7986cb;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.button--nanuk.button--inverted {
  background: #fff;
  color: #7986cb;
}
.button--nanuk > span {
  display: inline-block;
  padding: 1em 0;
}
.button--nanuk:hover {
  background-color: #3f51b5;
}
.button--nanuk:hover > span:nth-child(odd) {
  -webkit-animation: anim-nanuk-1 0.5s forwards;
  animation: anim-nanuk-1 0.5s forwards;
}
.button--nanuk:hover > span:nth-child(even) {
  -webkit-animation: anim-nanuk-2 0.5s forwards;
  animation: anim-nanuk-2 0.5s forwards;
}
.button--nanuk:hover > span:nth-child(odd),
.button--nanuk:hover > span:nth-child(even) {
  -webkit-animation-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-animation-function: cubic-bezier(0.75, 0, 0.125, 1);
}
@-webkit-keyframes anim-nanuk-1 {
  0%,
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  49% {
    opacity: 1;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    color: inherit;
  }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    color: #fff;
  }
  100% {
    color: #fff;
  }
}
@keyframes anim-nanuk-1 {
  0%,
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  49% {
    opacity: 1;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    color: inherit;
  }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    color: #fff;
  }
  100% {
    color: #fff;
  }
}
@-webkit-keyframes anim-nanuk-2 {
  0%,
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  49% {
    opacity: 1;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    color: inherit;
  }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    color: #fff;
  }
  100% {
    color: #fff;
  }
}
@keyframes anim-nanuk-2 {
  0%,
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  49% {
    opacity: 1;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    color: inherit;
  }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    color: #fff;
  }
  100% {
    color: #fff;
  }
}
.button--nanuk:hover > span:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.button--nanuk:hover > span:nth-child(2) {
  -webkit-animation-delay: 0.05s;
  animation-delay: 0.05s;
}
.button--nanuk:hover > span:nth-child(3) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.button--nanuk:hover > span:nth-child(4) {
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}
.button--nanuk:hover > span:nth-child(5) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.button--nanuk:hover > span:nth-child(6) {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}
.button--nanuk:hover > span:nth-child(7) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.button--nanuk:hover > span:nth-child(8) {
  -webkit-animation-delay: 0.35s;
  animation-delay: 0.35s;
}
.button--nanuk:hover > span:nth-child(9) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.button--nanuk:hover > span:nth-child(10) {
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;
}
.button--nanuk:hover > span:nth-child(11) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

/* Antiman */
.button--antiman {
  background: none;
  border: none;
  height: 60px;
}
.button--antiman.button--inverted,
.button--antiman.button--inverted-alt {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--antiman > span {
  padding-left: 0.35em;
}
.button--antiman::before,
.button--antiman::after {
  content: '';
  z-index: -1;
  border-radius: inherit;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--antiman::before {
  border: 2px solid #37474f;
  opacity: 0;
  -webkit-transform: scale3d(1.2, 1.2, 1);
  transform: scale3d(1.2, 1.2, 1);
}
.button--antiman.button--border-thin::before {
  border-width: 1px;
}
.button--antiman.button--border-medium::before {
  border-width: 2px;
}
.button--antiman.button--border-thick::before {
  border-width: 3px;
}
.button--antiman.button--inverted::before {
  border-color: #7986cb;
}
.button--antiman.button--inverted-alt::before {
  border-color: #3f51b5;
}
.button--antiman::after {
  background: #fff;
}
.button--antiman.button--inverted::after {
  background: #7986cb;
}
.button--antiman.button--inverted-alt::after {
  background: #3f51b5;
}
.button--antiman.button--inverted:hover {
  color: #7986cb;
}
.button--antiman.button--inverted-alt:hover {
  color: #3f51b5;
}
.button--antiman:hover::before {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
.button--antiman:hover::after {
  opacity: 0;
  -webkit-transform: scale3d(0.8, 0.8, 1);
  transform: scale3d(0.8, 0.8, 1);
}

/* Itzel */
.button--itzel {
  border: none;
  padding: 0px;
  overflow: hidden;
  width: 255px;
}
.button--itzel::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid;
  border-radius: inherit;
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 35% 100%, 35% 60%, 65% 60%, 65% 100%, 100% 100%, 100% 0%);
  clip-path: url(../index.html#clipBox);
  -webkit-transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
  transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.button--itzel.button--border-thin::before {
  border: 1px solid;
  -webkit-transform: translate3d(0, 100%, 0) translate3d(0, -1px, 0);
  transform: translate3d(0, 100%, 0) translate3d(0, -1px, 0);
}
.button--itzel.button--border-thick::before {
  border: 3px solid;
  -webkit-transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0);
  transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0);
}

.button--itzel::before,
.button--itzel .button__icon {
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--itzel .button__icon {
  position: absolute;
  top: 100%;
  left: 50%;
  padding: 20px;
  font-size: 20px;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
}
.button--itzel > span {
  display: block;
  padding: 20px;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.button--itzel:hover::before {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.button--itzel:hover .button__icon {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  -webkit-transform: translate3d(-50%, -100%, 0);
  transform: translate3d(-50%, -100%, 0);
}
.button--itzel:hover > span {
  opacity: 0;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

/* Naira */
.button--naira {
  padding: 0;
  overflow: hidden;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.button--naira::before {
  content: '';
  position: absolute;
  left: -50%;
  width: 200%;
  height: 200%;
  background: #37474f;
  top: -50%;
  z-index: -1;
  -webkit-transform: translate3d(0, -100%, 0) rotate3d(0, 0, 1, -10deg);
  transform: translate3d(0, -100%, 0) rotate3d(0, 0, 1, -10deg);
}
.button--naira.button--inverted::before {
  background: #7986cb;
}
.button--naira-up::before {
  -webkit-transform: translate3d(0, 100%, 0) rotate3d(0, 0, 1, 10deg);
  transform: translate3d(0, 100%, 0) rotate3d(0, 0, 1, 10deg);
}
.button--naira > span {
  display: block;
}
.button--naira .button__icon {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  color: #fff;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
.button--naira-up .button__icon {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
.button--naira > span,
.button--naira .button__icon {
  padding: 1em 2em;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--naira:hover::before {
  -webkit-animation: anim-naira-1 0.3s forwards ease-in;
  animation: anim-naira-1 0.3s forwards ease-in;
}
.button--naira-up:hover::before {
  -webkit-animation: anim-naira-2 0.3s forwards ease-in;
  animation: anim-naira-2 0.3s forwards ease-in;
}
@-webkit-keyframes anim-naira-1 {
  50% {
    -webkit-transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, -10deg);
    transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, -10deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
    transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
  }
}
@keyframes anim-naira-1 {
  50% {
    -webkit-transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, -10deg);
    transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, -10deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
    transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
  }
}
@-webkit-keyframes anim-naira-2 {
  50% {
    -webkit-transform: translate3d(0, 50%, 0) rotate3d(0, 0, 1, 10deg);
    transform: translate3d(0, 50%, 0) rotate3d(0, 0, 1, 10deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
    transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
  }
}
@keyframes anim-naira-2 {
  50% {
    -webkit-transform: translate3d(0, 50%, 0) rotate3d(0, 0, 1, 10deg);
    transform: translate3d(0, 50%, 0) rotate3d(0, 0, 1, 10deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
    transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
  }
}
.button--naira:hover {
  background-color: #37474f;
  -webkit-transition: background-color 0s 0.3s;
  transition: background-color 0s 0.3s;
}
.button--naira.button--inverted:hover {
  background-color: #7986cb;
}
.button--naira:hover .button__icon {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.button--naira:hover > span {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
.button--naira-up:hover > span {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

/* Quidel */
.button--quidel {
  background: #7986cb;
  color: #7986cb;
  overflow: hidden;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--quidel.button--inverted {
  background: #fff;
  color: #fff;
}
.button--quidel::before,
.button--quidel::after {
  content: '';
  position: absolute;
  z-index: -1;
  border-radius: inherit;
}
.button--quidel::after {
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background: #fff;
}
.button--quidel.button--inverted::after {
  background: #37474f;
}
.button--quidel::before {
  background: #37474f;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--quidel.button--inverted::before {
  background: #7986cb;
}
.button--round-s.button--quidel::after {
  border-radius: 3px;
}
.button--round-m.button--quidel::after {
  border-radius: 13px;
}
.button--round-l.button--quidel::after {
  border-radius: 40px;
}
.button--quidel > span {
  padding-left: 0.35em;
}
.button--quidel:hover {
  color: #37474f;
}
.button--quidel.button--inverted:hover {
  color: #7986cb;
}
.button--quidel:hover::before {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* Sacnite */
.button.button--sacnite {
  width: 70px;
  height: 70px;
  min-width: 0;
  padding: 0;
  color: #fff;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.button--scanite.button--round-l {
  border-radius: 50%;
}
.button--sacnite.button--inverted {
  color: #37474f;
}
.button--sacnite::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  z-index: -1;
  box-shadow: inset 0 0 0 35px #37474f;
  -webkit-transform: scale3d(0.9, 0.9, 1);
  transform: scale3d(0.9, 0.9, 1);
  -webkit-transition: box-shadow 0.3s, -webkit-transform 0.3;
  transition: box-shadow 0.3s, transform 0.3s;
}
.button--sacnite.button--inverted::before {
  box-shadow: inset 0 0 0 35px #fff;
}
.button--sacnite .button__icon {
  font-size: 22px;
  width: 22px;
}
.button--sacnite > span {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.button--sacnite:hover {
  color: #37474f;
}
.button--sacnite.button--inverted:hover {
  color: #fff;
}
.button--sacnite:hover::before {
  box-shadow: inset 0 0 0 2px #37474f;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
.button--sacnite.button--inverted:hover::before {
  box-shadow: inset 0 0 0 2px #fff;
}

/* Shikoba */
.button.button--shikoba {
  padding: 1em 30px 1em 50px;
  overflow: hidden;
  background: #fff;
  color: #37474f;
  border-color: #37474f;
  -webkit-transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}
.button--shikoba.button--inverted {
  color: #fff;
  background: #7986cb;
}
.button--shikoba > span {
  display: inline-block;
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--shikoba .button__icon {
  position: absolute;
  left: 20px;
  font-size: 18px;
  -webkit-transform: translate3d(-40px, 2.5em, 0);
  transform: translate3d(-40px, 2.5em, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--shikoba:hover .button__icon,
.button--shikoba:hover > span {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.button--shikoba:hover {
  background: #3f51b5;
  border-color: #3f51b5;
  color: #fff;
}

.little-chef-form input[type="text"], .little-chef-form input[type="password"], .little-chef-form select{
    border: 1px solid #CCC;
    color: #888;
    background-color: #000000
    line-height:15px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;

}

.little-chef-form .button {
    background: #EEE;
    border: 1px solid #DDD;
    padding: 4px 25px 4px 25px;
    color: #333;
    border-radius: 4px;
} 

@import url("https://fonts.googleapis.com/css?family=Lato:400,100,300,700,100italic,300italic,400italic,700italic,900,900italic");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
body {
  padding: 0;
  margin: 0;
}
body .btn-bg {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .btn-bg.bg-1 {
  background: #6ab1c9;
}
body .btn-bg.bg-1 .btn-1 button {
  color: #c7f8f9;
  background: transparent;
  border: 3px solid #c7f8f9;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
body .btn-bg.bg-1 .btn-1 button a {
  color: #c7f8f9;
}
body .btn-bg.bg-1 .btn-1 button:hover {
  background: #c7f8f9;
  color: #6ab1c9;
  border: 3px solid #6ab1c9;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
body .btn-bg.bg-1 .btn-1 button:hover >a {
  color: #6ab1c9;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
body .btn-bg.bg-1 .btn-1 button:active {
  -webkit-transform: translate(5px, 5px);
  transform: translate(5px, 5px);
}
body .btn-bg.bg-2 {
  background: transparent;
}
body .btn-bg.bg-2 .btn-2 button {
  color: #78c98d;
  background:  #ccccff;
  border: none;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
body .btn-bg.bg-2 .btn-2 button:hover {
  background: transparent;
  color: #d0f9c7;
}
body .btn-bg.bg-2 .btn-2 button:hover:before,
body .btn-bg.bg-2 .btn-2 button:hover:after {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  width: 100%;
}
body .btn-bg.bg-2 .btn-2 button:before,
body .btn-bg.bg-2 .btn-2 button:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0px;
  width: 0px;
  height: 3px;
  background: #d0f9c7;
  transition: all 0.4s ease;
}
body .btn-bg.bg-2 .btn-2 button:after {
  top: inherit;
  left: inherit;
  bottom: 0;
  right: 0;
}
body .btn-bg.bg-3 {
  background: #e5d272;
}
body .btn-bg.bg-3 .btn-3 button {
  color: #e5d272;
  background: #f6f7c5;
  border: none;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
body .btn-bg.bg-3 .btn-3 button:hover {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  background: transparent;
  color: #f6f7c5;
}
body .btn-bg.bg-3 .btn-3 button:hover:after {
  transition: all 0.3s ease;
  width: 100%;
  left: 0;
}
body .btn-bg.bg-3 .btn-3 button:after {
  position: absolute;
  transition: all 0.3s ease;
  content: '';
  width: 0;
  bottom: 0;
  left: inherit;
  right: 0;
  height: 3px;
  background: #f6f7c5;
}
body .btn-bg.bg-4 {
  background: #ed6a5a;
}
body .btn-bg.bg-4 .btn-4 button {
  color: #eda39a;
  border-radius: 5px;
  background: radial-gradient(circle, #ed412a 0.25em, transparent 0.25em) center/1.2em 1.2em;
  border: 3px solid #ed412a;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
body .btn-bg.bg-4 .btn-4 button:hover {
  color: #fff;
  background: radial-gradient(circle, #ed412a 0.25em, transparent 0.25em) center/0.1em 0.1em;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
body .btn-bg.bg-5 {
  background: #fff;
}
body .btn-bg.bg-5 .btn-5 h2 {
  color: #c4c0c0;
}
body .btn-bg.bg-5 .btn-5 button {
  color: #c4c0c0;
  background: transparent;
  border: 3px solid #c4c0c0;
  border-radius: 5px;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
body .btn-bg.bg-5 .btn-5 button:hover {
  border-color: #50514f;
  color: #50514f;
  background-image: repeating-linear-gradient(-25deg, #c4c0c0, #c4c0c0 3px, transparent 4px, transparent 7px);
  background-size: 12px 16px;
  -webkit-animation: cloud-animation 1.25s infinite ease;
  animation: cloud-animation 1.25s infinite ease;
  -webkit-animation-delay: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
body .btn-bg.bg-6 {
  background: transparent;
}
body .btn-bg.bg-6 .btn-6 button {
  width: 11em;
  height: 3em;
  color: #d3b7f7;
  background: transparent;
  border: 3px solid #d3b7f7;
  border-radius: 5px;
  -webkit-transition: border 0.5s ease-out;
  transition: border 0.5s ease-out;
  transition-delay: 0.8s;
}
body .btn-bg.bg-6 .btn-6 button a {
  position: absolute;
  z-index: 2;
  left: 43px;
  top: 17px;
}
body .btn-bg.bg-6 .btn-6 button::before,
body .btn-bg.bg-6 .btn-6 button::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: 'LONG NIGHT';
  border-radius: 100%;
  display: block;
  width: 22em;
  height: 22em;
  left: -5.5em;
  text-align: center;
  -webkit-transition: box-shadow 0.5s ease-out;
  transition: box-shadow 0.5s ease-out;
  transition-delay: 0.75s;
  -webkit-transition-delay: 0.75s;
  z-index: 1;
}
body .btn-bg.bg-6 .btn-6 button::after {
  transition-delay: 0.25s;
  -webkit-transition-delay: 0.25s;
}
body .btn-bg.bg-6 .btn-6 button:hover {
  color: #fff;
  border-color: #8460af;
  animation: witch-word-color 1.5s ease;
  -webkit-transition: border 0.2s ease;
  transition: border 0.2s ease;
}
body .btn-bg.bg-6 .btn-6 button:hover::before {
  box-shadow: inset 0 0 0 11em #b657e5;
  transition-delay: 0.05s;
}
body .btn-bg.bg-6 .btn-6 button:hover::after {
  box-shadow: inset 0 0 0 11em #8460af;
  transition-delay: 0.5s;
}
.btn {
  margin: 0 auto 30px auto;
  display: block;
}
h2 {
  text-align: center;
  font-family: 'Raleway';
  font-weight: 600;
  color: #fff;
}
button {
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: #fff;
  position: relative;
  letter-spacing: 0.1em;
  font-weight: 400;
  padding: 1rem 3rem 1rem 3rem;
  text-transform: uppercase;
  font-family: "Lato";
  font-size: 1.5em;
}
button a {
  text-decoration: none;
}
@-moz-keyframes cloud-animation {
  100% {
    background-position: 0px 2em;
  }
}
@-webkit-keyframes cloud-animation {
  100% {
    background-position: 0px 2em;
  }
}
@-o-keyframes cloud-animation {
  100% {
    background-position: 0px 2em;
  }
}
@keyframes cloud-animation {
  100% {
    background-position: 0px 2em;
  }
}
@-moz-keyframes witch-word-color {
  0% {
    color: #d3b7f7;
  }
  50% {
    color: #50514f;
  }
  100% {
    color: #fff;
  }
}
@-webkit-keyframes witch-word-color {
  0% {
    color: #d3b7f7;
  }
  50% {
    color: #50514f;
  }
  100% {
    color: #fff;
  }
}
@-o-keyframes witch-word-color {
  0% {
    color: #d3b7f7;
  }
  50% {
    color: #50514f;
  }
  100% {
    color: #fff;
  }
}
@keyframes witch-word-color {
  0% {
    color: #d3b7f7;
  }
  50% {
    color: #50514f;
  }
  100% {
    color: #fff;
  }
}

/* Main styles */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);
.box-with-text {
  /* background-image: url(http://fc06.deviantart.net/fs71/i/2014/365/1/f/interstellar_by_jasric-d8bx5vp.jpg); */
  background-image: -webkit-linear-gradient(#ffcc99 50%, #ffff99 50%);
  background-repeat: repeat;
  background-position: 0 0;
  background-size: 100% 50px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-animation: stripes 2s linear infinite;
  animation: stripes 2s linear infinite;
}

@-webkit-keyframes stripes {
  100% {
    background-position: 0 -50px;
  }
}
@keyframes stripes {
  100% {
    background-position: 0 -50px;
  }
}
/* Other styles */
body {
  overflow: hidden;
  background-color: #e1e1e1;
  color: #fff;
}

.box-with-text {
  position: absolute;
  top: 50%;
  left: 50%;
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;
  font: bold 10vmax/.8 Open Sans, Impact;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

/* css toilet */
body {
  padding : 10px ;
  
}

#exTab1 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

#exTab2 h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}


 * {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  width: 100%;
}

#wrapper {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
}

#leftWrapper {
  display: inline-block;
  position: absolute;
  left: 0;
  margin: 0;
  padding: 0;
  width: 15em;
  height: 100%;
  background-color: #1e1e1e;
}

#listView {
  display: block;
  position: relative;
}

#listView li {
  display: block;
  list-style: none;
}

#listView li a {
  display: block;
  padding: 20px;
  color: #fff;
  font-family: sans-serif;
  font-size: 1.1em;
  text-decoration: none;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.04);
  -webkit-transition: all .20s ease;
  -moz-transition: all .20s ease;
  -o-transition: all .20s ease;
  transition: all .20s ease;
}

#rightWrapper {
  display: inline-block;
  position: absolute;
  left: 15em;
  margin: 0;
  padding: 0px 40px;
  width: calc(100% - 15em);
  height: 100%;
  overflow-y: scroll;
  background-color: #efefef;
  -webkit-transition: all .20s ease;
  -moz-transition: all .20s ease;
  -o-transition: all .20s ease;
  transition: all .20s ease;
}

#header {
  display: block;
  position: fixed;
  left: 15em;
  width: 100%;
  z-index: 999;
  background-color: #efefef;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  -webkit-transition: all .20s ease;
  -moz-transition: all .20s ease;
  -o-transition: all .20s ease;
  transition: all .20s ease;
}

#fullPage {
  display: inline-block;
  margin-left: 20px;
  padding: 10px;
  color: #1e1e1e;
  font-family: sans-serif;
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

#contentWrapper {
  display: block;
  position: relative;
  margin-top: 100px;
  width: 100%;
  height: 100%;
}

article {
  margin-bottom: 20px;
  color: #1e1e1e;
  font-family: sans-serif;
  font-size: 1em;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

section {
  padding: 10px;
}

.article-header {
  padding: 10px;
  color: #fff;
  font-family: sans-serif;
  font-size: 1.5em;
  text-align: left;
  background-color: #2DCC70;
}

#showCase, #showCase section, #showCase section a {
  display: inline-block;
  padding: 10px;
  vertical-align: top;
  color: #1e1e1e;
  font-family: sans-serif;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all .20s ease;
  -moz-transition: all .20s ease;
  -o-transition: all .20s ease;
  transition: all .20s ease;
}

#showCase {
  padding: 0;
}

#showCase section a {
  box-shadow: inset 0px -2px #2DCC70;
}

#showCase section a:hover {
  color: #fff;
  box-shadow: inset 0px -50px #2DCC70;
}

#social {
  text-align: center;
}

#social a {
  display: inline-block;
  width: 60px;
  height: 60px;
  box-shadow: inset 0px 0px;
}

#social a:hover {
  box-shadow: inset 0px 0px;
}

#social a img {
  max-width: 100%;
}

.full-page {
  left: 0 !important;
  width: 100% !important;
}

.list-item-active:after {
  content: "";
  position: absolute;
  margin-top: -65px;
  margin-left: 13.45em;
  width: 0;
  height: 0;
  border-top: 33px solid transparent;
  border-bottom: 33px solid transparent;
  border-right: 25px solid #2DCC70;
  -webkit-transition: all .20s ease;
  -moz-transition: all .20s ease;
  -o-transition: all .20s ease;
  transition: all .20s ease;
}


body {
    /* margin: 0.5rem ; */
    background: white ;
    color: black ;
}
